html {
  background-color: hsl(0, 0%, 20%);
  -webkit-user-select: none;
}

body {
  color: hsl(0, 0%, 90%);
  font: menu;
  margin: auto;
  position: relative;
  width: 300px;
}

h1,
h2 {
  color: hsl(0, 0%, 90%);
  cursor: default;
  font: inherit;
  font-size: 20px;
  line-height: 1;
  padding: 20px 0;
  margin: 0;
}

h1 {
  font-size: 32px;
  padding: 30px 0;
  padding-top: 70px;
}

h2 {
  padding-top: 12px;
}

#s-v-container {
  cursor: default !important;
  height: 300px;
  position: relative;
  width: 300px;
}

#s-v {
  background-image: linear-gradient(90deg, white, red);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#s-v::after {
  background-image: url(gradient.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#s-v-thumb {
  height: 60px;
  left: 100%;
  margin: -30px;
  position: absolute;
  top: 0;
  width: 60px;
}

#hue {
  background-color: transparent;
  background-image: linear-gradient(
    90deg,
    #f00,
    #ff0,
    #0f0,
    #0ff,
    #00f,
    #f0f,
    #f00
  );
  background-position: 33px 18px;
  background-repeat: no-repeat;
  background-size: 480px 30px;
  display: block;
  height: 66px;
  margin: 40px -33px;
  padding: 0;
  width: 546px;
  -webkit-appearance: none;
}

#hue::-webkit-slider-thumb {
  background: transparent;
  border-radius: 33px;
  border: 3px solid hsla(0, 0%, 100%, 0.5);
  height: 60px;
  transition: border-color 0.3s;
  width: 60px;
}

#hue::-ms-track {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

#hue::-ms-fill-lower,
#hue::-ms-fill-upper {
  display: none;
}

#hue::-ms-thumb {
  border-radius: 33px;
  border: 3px solid hsla(0, 0%, 100%, 0.5);
  height: 60px;
  transition: border-color 0.3s;
  width: 60px;
}

#hue::-moz-range-thumb {
  background: transparent;
  border-radius: 33px;
  border: 0 solid transparent;
  border: 3px solid hsla(0, 0%, 100%, 0.5);
  height: 60px;
  margin: 0;
  outline: none;
  width: 60px;
}

#s-v-thumb {
  background: transparent;
  border-radius: 33px;
  border: 3px solid hsla(0, 0%, 100%, 0.5);
  height: 60px;
  transition: border-color 0.3s;
  width: 60px;
}

#hue::-webkit-slider-thumb {
  margin: 0;
  -webkit-appearance: none;
}

#s-v-container:focus #s-v-thumb,
#s-v-container:active #s-v-thumb,
#hue:focus::-webkit-slider-thumb,
#hue:active::-webkit-slider-thumb {
  border-color: hsl(0, 0%, 100%);
}

#hue:focus::-ms-thumb,
#hue:active::-ms-thumb {
  border-color: hsl(0, 0%, 100%);
}

#hue:focus::-moz-range-thumb,
#hue:active::-moz-range-thumb {
  border-color: hsl(0, 0%, 100%);
}

#s-v-container:focus #s-v-thumb,
#s-v-container:active #s-v-thumb {
  border-color: hsl(0, 0%, 100%);
}

#hue::-moz-range-track {
  background-color: transparent;
}

#sample-container {
  left: 390px;
  position: absolute;
  top: 160px;
}

#color-sample {
  height: 90px;
  width: 90px;
}

pre {
  -webkit-user-select: initial;
  margin: 20px 0;
}

#hue:focus,
#s-v-container:focus,
#hue:active,
#s-v-container:active {
  outline: none;
  border: 0 solid transparent;
}

#hue::-moz-focus-outer {
  border: 0;
}

#sample-container::before {
  background-image: url(arrow.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  height: 70px;
  left: -550px;
  position: absolute;
  transition: opacity 0.3s, top 0.3s;
  width: 100px;
}

h1 + #s-v-container + #hue + #sample-container::before,
h1 + #s-v-container + #hue + #sample-container::before {
  opacity: 0.1;
  top: -108px;
}

#s-v-container:active + #hue + #sample-container::before,
#s-v-container:focus + #hue + #sample-container::before {
  opacity: 0.5;
  top: 87px;
}

#s-v-container + #hue:active + #sample-container::before,
#s-v-container + #hue:focus + #sample-container::before {
  opacity: 0.5;
  top: 308px;
}

#repo-link {
  bottom: 25px;
  color: inherit;
  right: 25px;
  position: fixed;
  text-decoration: none;
  white-space: pre;
}

#repo-link:hover {
  text-decoration: underline;
}
