html {
  background-color: hsl(0, 0%, 20%);
  -webkit-user-select: none;
}

body {
  color: hsl(0, 0%, 90%);
  font: menu;
  margin: auto;
  position: relative;
  width: 300px;
}

h1,
h2 {
  color: hsl(0, 0%, 90%);
  cursor: default;
  font: inherit;
  font-size: 20px;
  line-height: 1;
  padding: 20px 0;
  margin: 0;
}

h1 {
  font-size: 32px;
  padding: 30px 0;
  padding-top: 70px;
}

h2 {
  padding-top: 12px;
}

#s-v-container {
  cursor: default !important;
  height: 300px;
  position: relative;
  width: 300px;
}

#s-v {
  background-image: linear-gradient(90deg, white, red);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

}

#s-v::after {
  background-image: url(gradient.svg); /*linear-gradient(90deg, black, black); */
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  xx-webkit-mask-image: linear-gradient(0, black, transparent);
}

#s-v-thumb {
  border-radius: 8px;
  box-shadow: 0 0 2px 2px hsla(0, 0%, 0%, .15),
              inset 0 0 1px 1px hsla(0, 0%, 100%, .55);
  height: 16px;
  left: 100%;
  margin: -8px;
  position: absolute;
  top: 0;
  width: 16px;
}

#hue {
  background-color: transparent;
  background-image: linear-gradient(90deg, #f00,
                                           #ff0,
                                           #0f0,
                                           #0ff,
                                           #00f,
                                           #f0f,
                                           #f00);
  border: 0px solid;
  display: block;
  height: 30px;
  margin: 30px 0;
  padding: 0;
  width: 300px;
  -webkit-appearance: none;
}

#hue::-webkit-slider-thumb {
  background: transparent;
  border-radius: 4px;
  box-shadow: 0 0 2px 2px hsla(0, 0%, 0%, .15),
              inset 0 0 0 1px hsla(0, 0%, 75%, .85);
  height: 38px;
  margin: -4px -4px 0 -4px;
  width: 8px;
  -webkit-appearance: none;
}

#hue::-moz-range-track {
  background-color: transparent;
}

#hue::-moz-range-thumb {
  background: transparent;
  border-radius: 4px;
  box-shadow: 0 0 2px 2px hsla(0, 0%, 0%, .15),
              inset 0 0 0 1px hsla(0, 0%, 75%, .85);
  height: 38px;
  margin: -4px -4px 0 -4px;
  width: 8px;
  outline: none;
  border: 0 solid transparent;
}

#sample-container {
  left: 338px;
  position: absolute;
  top: 220px;
}

#color-sample {
  height: 30px;
  width: 100px;
}

pre {
  -webkit-user-select: initial;
  margin: 20px 0;
}

#hue:focus,
#s-v-container:focus,
#hue:active,
#s-v-container:active {
  outline: none;
  border: 0 solid transparent;
}

#hue::-moz-focus-outer {
  border: 0;
}

#sample-container::before {
  background-image: linear-gradient(135deg, hsl(0, 0%, 90%) 0,
                                            hsl(0, 0%, 90%) 50px,
                                            transparent 50px),
                    linear-gradient(45deg, hsl(0, 0%, 90%) 0,
                                           hsl(0, 0%, 90%) 50px,
                                           transparent 50px),
                    linear-gradient(hsl(0, 0%, 90%), hsl(0, 0%, 90%));
  background-position: 100px 100px, 100px 0, 0 75px;
  background-repeat: no-repeat;
  background-size: 100px 100px, 100px 100px, 100px 50px;
  content: "";
  height: 200px;
  left: -550px;
  position: absolute;
  transition: opacity 0.3s, top 0.3s;
  width: 200px;
}

h1 + #s-v-container + #hue + #sample-container::before,
h1 + #s-v-container + #hue + #sample-container::before {
  opacity: 0.1;
  top: -232px;
}

#s-v-container:active + #hue + #sample-container::before,
#s-v-container:focus + #hue + #sample-container::before {
  opacity: 0.5;
  top: -38px;
}

#s-v-container + #hue:active + #sample-container::before,
#s-v-container + #hue:focus + #sample-container::before {
  opacity: 0.5;
  top: 157px;
}
